  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    font-family: 'Calibri', sans-serif;
    overflow: auto;
    border-radius: 5px;
  }

  #title {
    top: 0;
    left: 20px;
    height: 420px;
    margin-top: 10px;
    width: 600px;
  }

  h1 {
    margin: 10px;
    font-size: 1.5em;
    text-align: left;
  }

  h2 {
    margin: 10px;
    font-size: 1.2em;
    text-align: left;
  }

  p {
    margin: 10px;
    font-size: 1em;
    text-align: left;
  }
